.container-boton {
  position: fixed;
  z-index: 2;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  transition: ease 0.3s;
  background-color: black;
}

.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background-color: black;
}

.botonwsp {
  width: 80px;
  transition: ease 1s;
  transform: scale(0.8);
  /* Reducir el tamaño de la imagen */
}

.btn-wsp {
  border: none;
  /* Agregar esta línea para eliminar el borde blanco */
}

