.custom-arrows {
    width: 20px;
    height: 60px;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    transition: all 0.1s ease;
    padding: 0;
    pointer-events: all;
}

.custom-arrows:hover {
    background-color: white;
    transform: scale(1.1);
}

.custom-arrows svg {
    width: 1.5em;
    height: 1.5em;
    fill: black;
}

.custom-carousel {
    justify-content: first baseline;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    object-fit: cover;
}

.custom-chicago,
.custom-NewYork {
    opacity: 0.6;
    width: 100%;
    height: 500px;
    /* Altura predeterminada */
    object-fit: cover;
}

@media (max-width: 768px) {

    /* Pantallas pequeñas y medianas */
    .custom-carousel {
        width: 100%;
        /* Reducir el ancho del carrusel */
        height: 300px;
        /* Altura ajustada para pantallas más pequeñas */
    }

    .custom-chicago,
    .custom-NewYork {
        height: 300px;
        /* Altura ajustada para pantallas más pequeñas */
    }
}